{% if app.user %}
<nav class="menu-horizontal">
    <div class="content">
        <ul>
            {% if app.user %}
            <li>
                <a href="{{ path('homepage') }}" title="">Interna 1</a>
            </li>
            <li>
                <a href="{{ path('homepage') }}" title="">Interna 2</a>
            </li>
            <li>
                <a href="{{ path('homepage') }}" title="">Interna 3</a>
            </li>
            <li>
                <a href="{{ path('homepage') }}" title="">Interna 4</a>
            </li>
            <li>
                <a href="{{ path('homepage') }}" title="">Interna 5</a>
            </li>
            <li>
                <a href="{{ path('homepage') }}" title="">Interna 6</a>
            </li>
            <li>
                <a href="{{ path('homepage') }}" title="">Interna 7</a>
            </li>
            <li>
                <a href="{{ path('homepage') }}" title="">Interna 8</a>
            </li>
            <li>
                <a href="{{ path('homepage') }}" title="">Interna 9</a>
            </li>
            <li>
                <a href="{{ path('homepage') }}" title="">Interna 10</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endif %}